<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    style
     include ../static/styles.css
</head>

<body>
    <div class="bgimage">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sevices</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <section class="introsection">
            <div class="content">
                <h1>Welcome to the Dance Academy</h1>
                <h1>Eat Sleep Dance Repeat</h1>
                <button class="btn" id="btn">Sign Up</button>
            </div>
        </section>
    </div>
    <div class="formsection modal-bg">
        <form action="#" class="form modal">
            <div class="formheading">
                <h1>Sign Up</h1>
            </div>
            <div class="input">
                <label for="name">Username</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="input">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="input">
                <label for="Password">Password</label>
                <input type="Password" name="Password" id="Password" required>
            </div>
            <span class="modal-close">X</span>
            <button type="submit" class="formbutton">Submit</button>
        </form>
    </div>
    <div class="testimonials">
        <div class="inner">
            <h1>testimonials</h1>
            <div class="border"></div>

            <div class="row">
                <div class="col">
                    <div class="testimonial">
                        <img src="../static/img4.jpg" alt="">
                        <div class="name">Full name</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, modi minima doloremque error
                            necessitatibus omnis. Illum distinctio officiis enim facilis id, exercitationem ipsam,
                            assumenda fuga perferendis eaque ab harum culpa!
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="testimonial">
                        <img src="../static/img4.jpg" alt="">
                        <div class="name">Full name</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, modi minima doloremque error
                            necessitatibus omnis. Illum distinctio officiis enim facilis id, exercitationem ipsam,
                            assumenda fuga perferendis eaque ab harum culpa!
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="testimonial">
                        <img src="../static/img4.jpg" alt="">
                        <div class="name">Full name</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, modi minima doloremque error
                            necessitatibus omnis. Illum distinctio officiis enim facilis id, exercitationem ipsam,
                            assumenda fuga perferendis eaque ab harum culpa!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="heading1">
            <h3>Our Payment Types</h3>
        </div>
        <div class="heading2">
            <div class="box2">
                <h3>Monthly + </h3>
                <p>Unlimited access to your choosen training and</p>
                <p>thousands of others on the same price</p>
            </div>
            <div class="box2">
                <h3>Pay as you go</h3>
                <p>These passes give you pay as you go </p>
                <p>access to your choosen trainging</p>
            </div>
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>